---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Gallery</h1>
      <div id="markdown-content-container">
        {% for example in site.data.examples %}
          <div class="thumbnail">
            <div>
              <a href="{{ example.link }}">
                <img src="/img/examples/{{ example.thumbnail }}">
              </a>
            </div>
            <div>
              {{ example.title }}
              {% if example.source_code %}
                <a href="{{ example.source_code }}">(source&nbsp;code)</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

  </div>
</div>
